<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trevorbernard.parkhere">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Client.SearchActivity"></activity>
        <activity android:name=".Client.RentSpotActivity"></activity>
        <activity android:name=".Client.ProfileActivity"></activity>
        <activity android:name=".Client.FilterActivity"></activity>
        <activity android:name=".Client.LoginActivity"></activity>
        <activity android:name=".Client.RegisterActivity"></activity>
        <activity android:name=".Client.PhysicalSpotListActivity"></activity>
        <activity android:name=".Client.SearchResultActivity"></activity>
        <activity android:name=".Client.SearchHeatMapActivity"></activity>
        <activity android:name=".Client.ViewPastReservationActivity"></activity>
        <activity android:name=".Client.SubmitRatingAndReviewActivity"></activity>
        <activity android:name=".Client.PostSpotActivity"></activity>
        <activity android:name=".Client.PostSpotHelperActivity"></activity>
        <activity android:name=".Client.ListedSpotActivity"></activity>
        <activity android:name=".Client.ViewListingsActivity"></activity>
        <activity android:name=".Client.PastReservedSpotActivity"></activity>
        <activity android:name=".Client.ViewCurrentReservationActivity"></activity>
        <activity android:name=".Client.ReservedSpotActivity"></activity>
        <activity android:name=".Client.EditReservationActivity"></activity>
        <activity android:name=".Client.ViewPaymentsActivity"></activity>
        <activity android:name=".Client.EditPhysicalSpotActivity"></activity>

        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

        <activity android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCdGvy3lFDoducSm6HXANnZAZAeyNNBebc" />

    </application>

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
</manifest>